ul.navigation li {
    list-style-type: disclosure-closed;
    margin-bottom: 9px;
}

/*div.navigation {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 1;
}*/

div.navigation a {
    margin-right: 0.7em;
}

.navigation a, .navigation button {
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    color: black;
    padding: 2px;
    border: 2px black solid;
    border-radius: 4px;
    display: inline-block;
}

.navigation button:hover {
    text-decoration: underline;
}

ul.navigation a:hover {
    text-decoration: black underline;
}