header {
    margin: 15px;
    position: sticky;
    top: 15px;
    background: white;
    border: 5px solid white;
    border-radius: 5px;
}

body {
    margin: 0;
}

.cascade {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

ul.cascade {
    list-style: none;
    column-gap: 0;
    column-count: 5;
}

li.cascade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    break-inside: avoid;
    border: 1px solid #333;
}

a.cascade {
    display: flex;
}

@media (min-width: 100px) and (max-width: 759.5px) {
    ul.cascade {
        column-count: 2;
    }
}

@media (min-width: 760px) and (max-width: 979.5px) {
    ul.cascade {
        column-count: 3;
    }
}

@media (min-width: 980px) and (max-width: 1023.5px) {
    ul.cascade {
        column-count: 4;
    }
}

@media (min-width: 1024px) {
    ul.cascade {
        column-count: 5;
    }
}