.hidden {
    display: none !important;
}

#file_view {
    margin: 3vw;
}

button.tab {
    border: 1px grey solid;
    border-radius: 0;
    background: white;
}

button.tab.selected {
    background: lightgrey;
}

#upload_container > * {
    display: block;
}

#file_input_container {
    border: 2px solid black;
    padding: 10px;
}

#status_messages {
    border: 2px solid black;
    margin-top: 20px;
}

.status-message {
    border: 1px grey solid;
    margin: 10px;
    padding: 5px;
}

#file_view_container {
    padding: 10px;
    margin-top: 20px;
    border: 2px solid black;
}

table#file_view {
    border-collapse: collapse;
    display: table;
    margin: 20px;
    border: 2px solid black;
}

#file_view_container {
    display: flex;
    justify-content: center;
}

#file_view th, #file_view td {
    padding: 10px;
}

.alternate-container .alternate:nth-child(odd) {
    background-color: #EEEEEE;
}

.alternate-container .alternate:nth-child(even) {
    background-color: #E4E4E4;
}

#file_view tr:nth-child(odd).selected {
    background-color: #CCF;
}

#file_view tr:nth-child(even).selected {
    background-color: #BBF;
}

#file_view thead tr {
    background-color: #111 !important;
    color: white;
}

.icon {
    font-size: larger;
    width: 1em;
    height: 1em;
}

#file_view th.thin-row {
    padding: 0;
    margin: 0;
}

button.directory-action {
    border-radius: 0;
    border: white 2px solid;
    background-color: black;
    color: white;
}

button.directory-action:hover {
    background-color: #666;
}

.file-action {
    margin: 5px;
}

.dot {
    margin: 1px;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 40%;
}

thead {
    position: sticky;
    top: 0;
}